*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 90%;
    margin: 20px auto;
    background-color: #FEFBE9;
}

.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

h1{
    color:#183A1D ;
}

.content{

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 10px;
}

textarea{
    font-weight: 600;
    padding: 20px 10px;
    color: #E1EEDD;
    min-height:350px ;
    min-width: 700px;
    background-color: #183A1D;
}

button{
    font-weight: 600;
    padding: 10px 20px;
    background-color: #E1EEDD;
    border: none;
}

button:hover{
    color: #E1EEDD;
    background-color: #183A1D;

}